service: aws-contactus-api

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: false

plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: us-east-1
  lambdaHashingVersion: 20201221
  memorySize: 128 # Overwrite the default memory size. Default is 1024
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
    shouldStartNameWithService: true
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
    SDK_REGION_AWS: 'us-east-1'
    CONTACT_EMAIL_TO: 'email@domain.com'
    CONTACT_EMAIL_FROM: 'email@domain.com'
    CONTACT_EMAIL_SUBJECT: 'Website Contact Form'
    CONTACT_SMS_TO: 'E.164 Phone Number'
    GOOGLE_RECAPTCHA_SECRET: 'Google Recaptcha Secret Key'
    GOOGLE_RECAPTURE_SCORE_MIN: 0.5
  deploymentBucket:
    name: 'serverless-lambdas-bucket'
    blockPublicAccess: true
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'SES:SendEmail'
      Resource:
        - '*'
    - Effect: 'Allow'
      Action:
        - 'SNS:Publish'
      Resource:
        - '*'

functions:
  app:
    handler: src/app.handler
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'
