<table style="border: 1px solid #666666;" cellpadding="20" cellspacing="0">
    <tr>
        <td colspan="2" style="text-align: center; background-color: #f1f1f1;">
            <h3>Alcorn Technologies Contact Form</h3>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Full Name:</td>
        <td>{{full_name}}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Email Address:</td>
        <td><a href="mailto:{{email_address}}" style="text-decoration: none;">{{email_address}}</a></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Phone Number:</td>
        <td>{{phone_number}}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Zip Code:</td>
        <td>{{zip_code}}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Message:</td>
        <td>{{message}}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">IP Address:</td>
        <td>{{ip_address}}</td>
    </tr>
</table>