<table
  style="border: 1px solid #666666"
  cellpadding="20"
  cellspacing="0"
  width="100%"
>
  <tr>
    <td colspan="2" style="text-align: center; background-color: #f1f1f1">
      <h3>Website&nbsp;Contact&nbsp;Form</h3>
    </td>
  </tr>
  <tr>
    <td style="font-weight: bold">Full&nbsp;Name:</td>
    <td width="100%">{{full_name}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Email&nbsp;Address:</td>
    <td width="100%">
      <a href="mailto:{{email_address}}" style="text-decoration: none"
        >{{email_address}}</a
      >
    </td>
  </tr>
  <tr>
    <td style="font-weight: bold">Phone&nbsp;Number:</td>
    <td width="100%">{{phone_number}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Zip&nbsp;Code:</td>
    <td width="100%">{{zip_code}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Message:</td>
    <td width="100%">{{message}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold">IP&nbsp;Address:</td>
    <td width="100%">{{ip_address}}</td>
  </tr>
</table>
